#content {
    border: 2px #696969 solid;
    overflow: hidden;
    width: 80%;
    margin: 0 10% 150px;
}

#content .contRow {
    width: 100%;
    text-align: left;
    color: #696969;
    padding: 10px;
    border-bottom: #696969 1px solid;
}

#content .contRow_bottom {
    width: 100%;
    text-align: left;
    color: #696969;
    padding: 10px;
    border-bottom: #696969 0 solid;
}

#content .title {
    color: white;
    background-color: #999999;
    font-size: 20px;
}

#content form {
    font-size: 16px;
}

.imgContainer{
    width: 300px;
    height: 300px;
    margin: 10px auto 10px;
    border: pink 2px solid;
    border-radius: 10px;
}

#content form input, textarea {
    margin: 10px;
    font-size: 16px;
    resize: none;
}

#content form #uploadTitle {
    width: 90%;
    border-radius: 5px;
    padding: 2px;
}

#content form #uploadCont {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    padding: 4px;
}

form select {
    font-size: 20px;
}

form input.submit {
    padding: 5px 20px;
    border-radius: 12px;
    background: -webkit-linear-gradient(#57a8d6, #65fc4b);
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
}

form input.submit:hover {
    background: -webkit-linear-gradient(#3386ba, #5fb253);
}

#content .singleItem {
    width: 100%;
    height: 200px;
    position: relative;
}

/*#content .imgContainer {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    margin: 0px;*/
/*    position: absolute;*/
/*    top: 3px;*/
/*    left: 20px;*/
/*}*/